{{ define "content" }}
<div class="user-view">
    <div class="viewlayout can-scroll">
        <h1 class="pagetitle">门店信息</h1>
        <ul class="view-list">
            {{ range .List }}
            <li class="view-item">
                <div class="store-img">
                    <!-- 此处注意路径的问题，根据访问URL深度的不同 -->
                    <img src="../../../static/uploads/{{ .Image }}" alt="门店图片">
                </div>
                <div class="store-info">
                    <p>{{ .Name }}</p>
                    <p>{{ .Phone }}</p>
                    <p>{{ .Address}}</p>
                </div>
                <div class="distanceinfo">
                    <p>{{ .StrDistance }} km</p>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
    <div class="usercode">
        <form action="/api/reward/v1/rewardcode" method="POST" enctype="application/x-www-form-urlencoded">
            <input name="userid" value="{{ .Userid }}"  type="hidden">
            <div>
                <input type="submit" name="submit" value="奖品">
            </div>
        </form>
    </div>
</div>

{{ end }}