{{ define "content" }}
<div class="rewardlayout">
    <h1 class="rewardtitle">领奖码</h1>
    <div class="tips">
        <p>请输入有效领奖码，点击确定按钮，查询用户获奖情况</p>
    </div>
    <div class="inputcode">
        <form action="/mis/reward/showreward" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="info">
                <input type="text" name="usercode" placeholder="输入领奖码" required="required">
            </div>
            <div class="">
                <input type="submit" name="submit" value="确定">
            </div>
        </form>
    </div>
</div>
{{ end }}